@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Overpass", sans-serif;
  font-weight: 1000;
}
/*Termina el header*/
header {
  position: absolute;
  width: 100%;
  background: #ebeae7;
  text-align: center;
  font-size: 25px;
}
div.header-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
div.header-cont img#logo {
  height: 88px;
}
div.header-cont img#icono-compra {
  width: 28px;
}
/*Termina el header*/
/*Contenedor principal*/
div.main-cont {
  width: 100%;
}
div.img-cont img {
  width: 100%;
}
/*Edición de imagen terminada*/
