@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*Empieza el header*/
header {
  /*position: absolute;puede ser fixed*/
  width: 100%;
  background: #ebeae7;
  text-align: center;
  font-size: 25px;
  font-family: "Overpass", sans-serif; /*Hacer video-tutorial*/
  font-weight: 1000;
}
div.header-cont {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
div.header-cont img#logo {
  height: 88px;
}
div.header-cont img#icono-compra {
  width: 28px;
}
input[type="search"] {
  width: 400px;
  height: 40px;
  border: none;
  text-align: center;
  font-size: 20px;
  padding: 5px;
}
/*Termina el header*/
/*Empieza el cuerpo*/
div.main-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 10%;
}
div.flex-cont {
  margin-top: 5%;
}
div.img-cont {
  display: flex;
  justify-content: space-evenly;
}
div.img-cont section {
  border: solid 1px #a03d3e;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}
section img {
  max-width: 160px;
}
hr {
  margin-block: 20px;
  border: solid 1px #a03d3e;
  width: 90%;
  margin-inline: 5%;
}
section {
  font-family: "Overpass", sans-serif;
}
section h1,
section h3 {
  text-align: center;
  font-size: 60px;
  color: #32391b;
}
section h4 {
  text-align: justify;
  font-size: 25px;
  font-weight: 500;
  padding-top: 10px;
}
section h5 {
  text-align: center;
  font-size: 30px;
  padding: 15px;
}
div.btn-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.btn-cont input[type="button"] {
  border: none;
  font-size: 15px;
  width: 200px;
  padding: 4px;
  background: #dec5c4;
  font-weight: 600;
  cursor: pointer;
  transition: 600ms;
  margin-inline: 10px;
}
div.btn-cont input[type="button"]:hover {
  background: #b0967c;
}
/*Termina el cuerpo*/
/*Scrollbar*/
body::-webkit-scrollbar {
  width: 10px; /* Grosor de la scrollbar */
}

body::-webkit-scrollbar-track {
  background: none; /* Color del fondo */
}

body::-webkit-scrollbar-thumb {
  background-color: #215a43; /* Color del objeto en el que da click */
  border-radius: 100px; /* Bordes de el objeto anterior */
  border: none;
}

.body {
  overflow-y: scroll;
  scroll-behavior: smooth;
}
a:-webkit-any-link {
  text-decoration: #ebeae7;
  cursor: pointer;
  color: rgb(0, 0, 0);
  transition: 1000ms;
}
a:-webkit-any-link:hover {
  text-decoration: underline;
  cursor: pointer;
  color: rgb(0, 0, 0);
}
a {
  cursor: pointer;
}
